@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  background-color: #09090b;
  color: white;
}

/* Scrollbar (modern look) */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: #3f3f46;
  border-radius: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

/* Buttons */
button {
  cursor: pointer;
  transition: all 0.2s ease;
}

button:hover {
  opacity: 0.9;
}

/* Inputs */
input,
select {
  background-color: #18181b;
  border: 1px solid #27272a;
  color: white;
  padding: 10px;
  border-radius: 8px;
  width: 100%;
}

input:focus,
select:focus {
  outline: none;
  border-color: #3b82f6;
}
input::placeholder {
  color: #6b7280;
}